body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: black;
    
  }
  
  h1, h2, h3 {
    font-weight: bold;
    margin-top: 1em;
    
  }
  

  
  a:hover {
    animation: shake 0.5s;
    animation-iteration-count: 1;
    transition: all 0.6s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  a {
    color: red;
    text-decoration: wavy;
    
  }
  * {
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
  }
  .card-body {
    box-shadow: 0px 0px 10px #333;
  }
  .btn {
    box-shadow: 0px 0px 10px #333;
  }
  .nav-item {
    box-shadow: 0px 0px 3px lightgreen;
    border-radius: 4px;
    
  }
  .accordion-item {
    box-shadow: 0px 0px 10px lightskyblue;
    border-radius: 4px;
    padding: 2px;
    
  }
  .card-title {
    text-shadow: 0px 0px 3px;

  }
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: rgb(30, 0, 85);
    color: #fff;
    border-color: #0062cc;
  }
  
  .btn-primary:active,
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
  }
